* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
  color: #163155;
  background: #4c98ff;
}

h1 {
  margin: 40px;
}

#container {
  color: #cccccc;
}

#container div {
  display: flex;
}

#container div .box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}