// Mixins

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

// Variables

$color-principale: #4c98ff
$color-secondaire: #09418d
$color-terciaire: #163155

// Reset CSS

  //@import reset

// app

*
  box-sizing: border-box

body
  font-family: sans-serif
  margin: 0
  padding: 0
  font-size: 18px
  text-align: center
  color: $color-terciaire
  background: $color-principale

h1
  margin: 40px

#container
  color: $color-secondaire
  
  div
    display: flex
    
    .box
      +border-radius(10px)
      