$color-principale: #4c98ff
$color-secondaire: #09418d
$color-terciaire: #163155

//

*
  box-sizing: border-box

body
  font-family: sans-serif
  margin: 0
  padding: 0
  font-size: 18px
  text-align: center
  color: $color-terciaire
  background: $color-principale

h1
  margin: 40px

#container
  @extend h1
  color: $color-secondaire
  
div
  display: flex